// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-nav{
  width: 220px;
}

.side-nav-bg {
  height: 147px;
}

.container{
  width: 92%;
}

.card-at-time{
  color: #bdbdbd;
}
